---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";

import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemon/PokemonCard.astro";
import Title from "@shared/Title.astro";

export const getStaticPaths = (async () => {
  const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151')
  const {results} = await res.json() as PokemonListResponse

  return results.map(({name, url}) => ({
      params:{name: name}, 
      props: {name: name, url:url}
    })
  )
}) satisfies GetStaticPaths;


const { name } = Astro.params
const { url } = Astro.props

const id = url.split("/").at(-2)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/{id}.ogg`
const imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<MainLayout 
  title={`Pokemon - ${id} ${name}`} 
  description={`Information about ${name}`} 
  image={imageUrl} 
>
  <section class='mt-10 mx-10 flex flex-col justify-center items-center'>
    <div>
      <a href="/">Back</a>
      <Title>
        {name}
      </Title>
    </div>
    <PokemonCard name={name} url={url} big={true} />

    <audio controls class='mt-5'>
      <source src={audioSrc} type="audio/ogg">
      Your browser does not support the <code>audio</code> element.
    </audio>
  </section>

</MainLayout>