---
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";

import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response"



export const getStaticPaths = (async({ paginate }) => {
  const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const {results} = (await res.json()) as PokemonListResponse;
  
  return paginate(results, {pageSize: 20});
}) satisfies GetStaticPaths;

const title = "Pokemon Static | Home";
const { page } = Astro.props;

---

<MainLayout title={title}>
  <h1 class='text-3xl text-blue-500'>List of pokemons</h1>
	<hr />
  <section   
    area-label='"Pokemon List'
    class='grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mt-3'
	> 
	  {page.data.map(({name, url}) => <PokemonCard name={name} url={url}/>)}
  </section>

  <section class='flex px-10 mt-10 gap-2 items-center justify-between'>
    <a class:list={[
          'btn',
          {
            disabled: !page.url.prev
          }
      ]} href={page.url.prev} >Prev</a>

    <span>Page {page.currentPage} of {page.lastPage}</span>

    <a class:list={[
        'btn',
        {
          disabled: !page.url.next
        }
      ]
    } href={page.url.next} >Next</a>
  </section>
	
</MainLayout>

<style>
  .btn {
    @apply bg-blue-500 p-2 px-4 text-gray-100 rounded-md hover:bg-blue-600 font-medium text-lg
  }

  .disabled {
    @apply bg-gray-600 p-2 px-4 text-gray-400
  }
</style>