---
import NavBar from '@shared/NavBar.astro'
import { ViewTransitions } from 'astro:transitions'
import { sideInfo } from 'src/consts/side-info'

interface Props {
	title?: string,
	image?: string,
	description?: string
}



const { title = sideInfo.title, description = sideInfo.description , image } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- SEO -->
		 <meta name="description" content={description}>
		 <meta name='author' content='bm jsms' >
		 
		 <!-- OG Metatags -->
		 <meta property="og:title" content={title}>
		 <meta property="og:description" content={image}>
		 <meta property="og:image" content={image}>
		
		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body class="bg-slate-800 text-slate-100 flex flex-col min-h-screen">
		<NavBar />
		<main class="mt-10 mx-auto flex-grow w-full max-w-4xl px-4">
			<slot />
		</main>
	</body>
</html>